.btn {
  background-color: $blue;
  color: white;
  text-align: center;
  width: 35%;
  height: 25px;
  border: 0px solid black;
  border-radius: 10px;
  transition: 0.15s;
  &:hover { background-color: $dark-blue; }
}

.input {
  width: 35%;
  height: 15px;
  margin-bottom: 1vh;
  border: 1px inset black;
  border-radius: 10px;
  padding-left: 4px;
}

.valid {
  border: 1px inset green !important;
  background: #45e842;
}

.error {
  border: 1px inset red !important;
  background: #fb4141;
}

#logoff {
  position: absolute;
  top: 55px;
  right: 5px;
}

.userinfo {
  text-decoration: none;
}

.xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  width: 20% !important;
}

.sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  width: 30% !important;
}

.md {
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.4;
  width: 45% !important;
}

.lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  width: 60% !important;
}

.xl {
  padding: 14px 20px;
  font-size: 20px;
  line-height: 1.2;
  width: 80% !important;
}

.warning {
  margin: 10px 0;
  color: #ff0000;
  font-size: 25px;
  font-style: italic;
  font-family: sans-serif;
}

.hidden {
  visibility: collapse;
}

.shown {
  visibility: visible;
}
