#map {  height: 100%; }

#floating-panel {
  position: absolute;
  top: 55px;
  left: 10px;
  z-index: 5;
  background-color: #fffddd;
  padding: 5px;
  border: 1px solid #999999;
  text-align: center;
  line-height: 1.2;
}
