[v-cloak] {
  display: none;
}
#todoapp {
  h1 {
    background: white;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: $pale-green;
  }
  input {
    font-style: italic;
  	font-weight: 300;
  }
}

.edit {
	width: 100%;
	font-size: 24px;
	line-height: 1.4em;
	border: 0;
	color: inherit;
}

.new-todo {
  @extend .edit;
	padding: 16px 16px 16px 60px;
	border: none;
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.toggle-all {
	position: absolute;
	top: -55px;
	left: -12px;
	width: 60px;
	height: 34px;
	text-align: center;
}

.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
    &.editing {
      border-bottom: none;
    	padding: 0;
      .edit {
        display: block;
      	padding: 12px 16px;
      	margin: 0 0 0 43px;
      }
      .todo-view {
        display: none;
      }
      &:last-child {
        margin-bottom: -1px;
      }
    }
    label {
    	word-break: break-all;
    	padding: 15px 60px 15px 15px;
    	margin-left: 45px;
    	display: block;
    	line-height: 1.2;
    	transition: color 0.4s;
    }
    .edit {
      display: none;
    }
}

.todo-item {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  transition: 0.2s;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    .destroy {
      display: block;
      outline: 0;
      outline-offset: 0;
    }
  }
  &.completed {
    label {
      color: #d9d9d9;
      text-decoration: line-through;
    }
  }
}

.toggle {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
}

.destroy {
  display: none;
  background: none;
  border: 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
  &:hover {
    color: #e9141b;
  }
  &:after {
    content: '×';
  }
}

.todo-count {
	float: left;
	text-align: left;
  strong {
    font-weight: 300;
  }
}

.filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
  li {
  	display: inline;
    a {
    	color: inherit;
    	margin: 3px;
    	padding: 3px 7px;
    	text-decoration: none;
    	border: 1px solid transparent;
    	border-radius: 3px;
      opacity: 0.4;
      &:hover {
      	border-color: #af2f2f;
        opacity: 0.6;
      }
      &.selected {
      	border-color: #af2f2f;
        opacity: 0.8;
      }
    }
  }
}

.clear-completed {
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
  &:active{  }
  &:hover {
  	text-decoration: underline;
  }
}
