@import "common";
@import "elements";
@import "todo-styles";
@import "maps";

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
