@charset "UTF-8";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%; }
  .wrapper .item {
    font-style: italic;
    font-size: 16px;
    line-height: 1.4; }
  .wrapper .content {
    flex: 1 0 auto; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 100vh; }
  .container h2 {
    background: white;
    width: 100%;
    font-size: 55px;
    font-weight: 100;
    text-align: center;
    color: #92cdaa;
    margin-top: 5vh;
    margin-bottom: 1vh; }

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-basis: auto;
  align-items: center;
  background-color: #0081f9;
  min-height: 45px;
  height: 6vh;
  width: 100%;
  line-height: 1.4; }
  .header .header-elem {
    color: #fff;
    display: block;
    font-weight: 100%;
    float: left;
    line-height: 1.4;
    font-size: 14px;
    padding: 13px 5px 17px;
    text-decoration: none;
    transition: 0.3s; }
    .header .header-elem:hover {
      background: #fff;
      color: #000; }
  .header #logo {
    padding: 10px 4px 7px; }
    .header #logo:hover {
      background: #0081f9; }

.footer {
  flex: 0 0 auto;
  margin-top: 5%;
  background-color: #0081f9;
  width: 100%;
  min-height: 45px;
  height: 6vh;
  line-height: 1.4; }

.btn {
  background-color: #005eff;
  color: white;
  text-align: center;
  width: 35%;
  height: 25px;
  border: 0px solid black;
  border-radius: 10px;
  transition: 0.15s; }
  .btn:hover {
    background-color: #0029ff; }

.input {
  width: 35%;
  height: 15px;
  margin-bottom: 1vh;
  border: 1px inset black;
  border-radius: 10px;
  padding-left: 4px; }

.valid {
  border: 1px inset green !important;
  background: #45e842; }

.error {
  border: 1px inset red !important;
  background: #fb4141; }

#logoff {
  position: absolute;
  top: 55px;
  right: 5px; }

.userinfo {
  text-decoration: none; }

.xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  width: 20% !important; }

.sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  width: 30% !important; }

.md {
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.4;
  width: 45% !important; }

.lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  width: 60% !important; }

.xl {
  padding: 14px 20px;
  font-size: 20px;
  line-height: 1.2;
  width: 80% !important; }

.warning {
  margin: 10px 0;
  color: #ff0000;
  font-size: 25px;
  font-style: italic;
  font-family: sans-serif; }

.hidden {
  visibility: collapse; }

.shown {
  visibility: visible; }

[v-cloak] {
  display: none; }

#todoapp h1 {
  background: white;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: #92cdaa; }

#todoapp input {
  font-style: italic;
  font-weight: 300; }

.edit, .new-todo {
  width: 100%;
  font-size: 24px;
  line-height: 1.4em;
  border: 0;
  color: inherit; }

.new-todo {
  padding: 16px 16px 16px 60px;
  border: none; }

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6; }

.toggle-all {
  position: absolute;
  top: -55px;
  left: -12px;
  width: 60px;
  height: 34px;
  text-align: center; }

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .todo-list.editing {
    border-bottom: none;
    padding: 0; }
    .todo-list.editing .edit, .todo-list.editing .new-todo {
      display: block;
      padding: 12px 16px;
      margin: 0 0 0 43px; }
    .todo-list.editing .todo-view {
      display: none; }
    .todo-list.editing:last-child {
      margin-bottom: -1px; }
  .todo-list label {
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s; }
  .todo-list .edit, .todo-list .new-todo {
    display: none; }

.todo-item {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  transition: 0.2s; }
  .todo-item:last-child {
    border-bottom: none; }
  .todo-item:hover .destroy {
    display: block;
    outline: 0;
    outline-offset: 0; }
  .todo-item.completed label {
    color: #d9d9d9;
    text-decoration: line-through; }

.toggle {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; }

.destroy {
  display: none;
  background: none;
  border: 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out; }
  .destroy:hover {
    color: #e9141b; }
  .destroy:after {
    content: '×'; }

.todo-count {
  float: left;
  text-align: left; }
  .todo-count strong {
    font-weight: 300; }

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0; }
  .filters li {
    display: inline; }
    .filters li a {
      color: inherit;
      margin: 3px;
      padding: 3px 7px;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 3px;
      opacity: 0.4; }
      .filters li a:hover {
        border-color: #af2f2f;
        opacity: 0.6; }
      .filters li a.selected {
        border-color: #af2f2f;
        opacity: 0.8; }

.clear-completed {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer; }
  .clear-completed:hover {
    text-decoration: underline; }

#map {
  height: 100%; }

#floating-panel {
  position: absolute;
  top: 55px;
  left: 10px;
  z-index: 5;
  background-color: #fffddd;
  padding: 5px;
  border: 1px solid #999999;
  text-align: center;
  line-height: 1.2; }

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }
