<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Profile</title>

  <link href="css/style.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="js/info.js"></script>
</head>

<body>

  <div class="wrapper container">
    <header class="header">
      <nav class="navbar">
        <a id="logo" class="header-elem" href="index.html"><img src="img/demo.png"/></a>
        <a class="header-elem" href="todo.html">ToDo</a>
        <a class="header-elem" href="maps.html">Maps</a>
      </nav>
      <div class="second-nav">
        <a class="header-elem" href="log.html">Log In</a>
        <a class="header-elem" href="reg.html">Sign In</a>
      </div>
    </header>
    <div class="container">
      <button id="logoff">log off</button>
      <div id="info">
        <ul>
          <li v-for="(value, key) in vueUserInfo">
            {{key}}: {{ value }}
          </li>
        </ul>
      </div>
    </div>
    <footer class="footer">

    </footer>
  </div>
</body>

</html>
